* {
    margin: inherit;
    padding: 2px;
}

body {
    font: 16px Georgia, serif;
}

#page-wrap > .main {

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px dotted #000000;
}

section > div {
    padding: 20px;

}

header, nav, section {
    background: #999999;
    text-align: center;
}

footer {
    background: #777777;
    text-align: center;
}

nav span {
    margin: 0px 10px 0px 0px;
}