body {
    background: #999;
}

nav {
    float: left;
    width: 18%;
    height: 350px;
}

nav span {
    margin: 0px 90px 0px 0px;
}

section {
    float: right;
    width: 80%;
    height: 350px;
    overflow: auto;
    resize: vertical;
}

footer {
    clear: both;
    display: block;
}